# Ignore everything
*

# Except these files
!.gitignore

# RC
!.vimrc
!.bashrc
!.zshrc
!.rc.d/
!.rc.d/*

# config
!.config/
!.config/kitty/
!.config/kitty/*
!.config/ranger/
!.config/ranger/*
!.config/sway/
!.config/sway/*
!.config/waybar/
!.config/waybar/*

# executables
!bin/
!bin/*
