# Ignore everything
*

# Except these files
!.gitignore

# startup
!.rc.d/
!.rc.d/*

# config
!.vimrc
!.config/
!.config/kitty/
!.config/kitty/*
!.config/ranger/
!.config/ranger/*
!.config/sway/
!.config/sway/*
!.config/waybar/
!.config/waybar/*

# executables
!bin/
!bin/*
